<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
</head>
<body>
<h1></h1>
<div class="container">

    <div class="container" >
        <figure class="Index-page-image loaded" data-parallax-image-wrapper="" style="overflow: hidden;"/>

        <img data-src="https://pawmaw.com/pawmaw/img/blog-img/1554995278-Best-Ways-to-Find-Lost-Pets.jpg"
             data-image="https://pawmaw.com/pawmaw/img/blog-img/1554995278-Best-Ways-to-Find-Lost-Pets.jpg"
             data-image-dimensions="2500x1300"
             data-image-focal-point="0.5,0.5"
             data-load="false" data-parent-ratio="2.0"
             alt="petdog" style="font-size: 0px; left: 0px; top: -2.4216px; width: 1348px; height: 500.843px; position: relative;"
             class="" data-image-resolution="2500w"
             src="https://pawmaw.com/pawmaw/img/blog-img/1554995278-Best-Ways-to-Find-Lost-Pets.jpg?format=2500w" />
    </div>

    <form action="#">
        Username:<br /><input class="form-control" type="text" name="username"/><br />
        Password:<br /><input class="form-control" type="password" name="password"/><br />
        <input class="btn btn-primary btn-lg" role="button" type="submit" value="Login" />
        <a class="btn btn-primary btn-lg" role="button">Register</a>
<br />
<a href="homepage.html" style="color:#737373">See our lost friends</a>
<br /><br />


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </form>

</div>
</body>
</html>